h1{
	color : red;

}
p,
li{
	color:green;
}
ul{
	list-style-type:trad-chinese-informal;
}
li.special,
span.special{
	color:orange;
	font-weight:bold;	
}
li em{
	color:rebeccapurple;
}

h1 + p{ /*This adds the rules to format the paragraph just after the h1 element.*/
	font-size:200%;
}

a:link{ /*Styling an univisited link to be pink by default*/
	color:pink;
}

a:visited{ /*Styling a visited link to be green*/
	color:green;
}
