h1{
	color : red;

}
p,
li{
	color:green;
}
ul{
	list-style-type:trad-chinese-informal;
}
li.special,
span.special{
	color:orange;
	font-weight:bold;	
}
li em{
	color:rebeccapurple;
}

h1 + p{ /*This adds the rules to format the paragraph just after the h1 element.*/
	font-size:200%;
}

a:link{ /*Styling an univisited link to be pink by default*/
	color:purple;
	font-weight:bold;
}

a:visited{ /**/
	color:yellow;
}

a:hover{
	text-decoration: none;
}

body h1 + p .special{ /*This will style any element of the class special, which is inside a <p> which comes just after an <h1> which is inside a <body>.*/
	color:yellow;
	background-color:black;
	padding: 5px;
}
